<%-include("partials/header") %>
<h1>Contact</h1>
<p>
  <%= contactDetails %>
</p>
<div class="rowcontact">
  <div class="one">
<i class="fab fa-facebook-f"></i>
  </div>
  <div class="two">
<i class="fab fa-instagram"></i>
  </div>
  <div class="three">
<i class="fab fa-twitter"></i>
  </div>
</div>

<%-include("partials/footer") %>
